@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #091833;
  color: white;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
