.img{
    height: 250px;
    width: 166px;
    transform: scale(.9);
    transition: 150ms ease;
    cursor: pointer;
}
.img:hover{
    transform: scale(1);
}
.img::selection{
    background: none;
}
.title{
    margin: 5 0;
    margin-left: 10px;
    cursor: default;
    margin: 5px 0;
    margin-top: -30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    letter-spacing: .2rem;
}
.title::selection{
    background: none;
}
.list_div{
    width: 100vw;
    margin-left: 100px;
    position: relative;
    margin-bottom: 50px;
}
.list_div:hover .NavBefore , .list_div:hover .NavNext{
    filter: opacity(1);
}
.imgs_div{
    width: max-content;
    overflow-x: visible;
    transition: 500ms ease;
}
.NavBefore , .NavNext{
    width: 33.33px;
    height: 250px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #133f7ca2;
    z-index: 10;
    cursor: pointer;
    filter: opacity(0);
    transition: 250ms ease;
}
.NavBefore{
    left: -33.33px;
}
.NavNext{
    right: 80px;
}