.section{
    width: 100vw;
    height: 80vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.name{
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 2em;
    display: inline;
    text-align: center;
}
.content{
    font-family: 'Poppins', sans-serif;
    margin-left: 66px;
    width: 50vw;
}
.content h5{
    margin: 0;
}
.row{
    display: flex;
    margin: 20px 0;
}
.row h5{
    margin-right: 20px;
    font-size: 1em;
}
.buttons , .buttons button{
    display: flex;
    align-items: center;
}
.buttons button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    margin-right: 20px;
    cursor: pointer;
    transition: 250ms ease;
}
.watch{
    background-color: #06a03c;
    color: #ffffff;
}
.watch:hover{
    background-color: #016d27;
}
.add:hover{
    background-color: #b8b8b8;
}
.vote{
    color: #3eff3e;
}

@media (max-width: 600px){
    .section{
        justify-content: flex-end;
        align-items: center;
    }
    .content{
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row{
        display: none;
    }
    .buttons{
        margin: 20px 0;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .buttons button{
        margin: 0;
    }
}